# Rust
/target/
#Cargo.lock  # Optionnel, garde-le si c'est une app, retire-le si c'est une lib
**/*.rs.bk
*.pdb

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
